<!doctype html>
<html lang='en'>
  <head>
    <meta charset='utf-8'>

    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta name='viewport'
      content='width=device-width, initial-scale=1, shrink-to-fit=no'>
    <meta content='IE=edge,chrome=1' http-equiv='X-UA-Compatible'>

    <title>Dots</title>

    <link href="styles/dots.css" rel="stylesheet">
  </head>

  <body>
    <%= yield %>

    <script src="scripts/libs/colors.js"></script>
    <script src="scripts/utils/random_utils.js"></script>
    <script src="scripts/utils/request_utils.js"></script>
    <script src="scripts/dots.js"></script>
  </body>
</html>

